<form action="/users/user[:id]" method="POST">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="user" id="" value = "<%= @user[:name]%>">
  <input type="submit" value="Edit">
</form>